<!DOCTYPE html>
<html>
<head>
	<title>Form</title>
	

    <script src="{{ url_for('static',filename='jquery.min.js')}}"></script>
<link rel="stylesheet" type="text/css" href="static/style.css">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
 	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="head">
  <h1>Welcome</h1>
	
<div class="container mb-3">

  
	<div id="home">
            <a href="/create" class="btn btn-primary">Create Question Paper</a>
            <a href="/question" class="btn btn-primary">Open Question Paper </a>
				
	</div>
</div>
</div>

<script type="text/javascript" src="static/script.js"></script>

</body>
</html>

